@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
#maincon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: auto;
    margin-top: 20px;
    /* max-height: 80vh; */
    /* overflow-y: auto; */
}
.main{
    display: flex;
    flex-direction: column;
}
.upper{
    margin: 15px;
}
h1{
    text-align: center;
}
.listing[_ngcontent-d2c-frontend-c96] {
    position: relative;
    transition: .4s;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid rgba(114,131,161,.2);
    box-shadow: 0 0 10px #186edf1a;
    border-radius: 15px;
    padding: 12px;
    display: flex;
}
.listing[_ngcontent-d2c-frontend-c96] .img[_ngcontent-d2c-frontend-c96] {
    width: 280px;
    height: 159px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.listing[_ngcontent-d2c-frontend-c96] .cptn[_ngcontent-d2c-frontend-c96] {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
}
a {
    color: #0073e6;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    transition: .3s;
    cursor: pointer;
}

*{
    margin: 0%;
    padding: 0%;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center; 
    height: 69px;
    justify-content: center;
    margin-top: -9px;
}
nav ul li{
    padding: 12px;
    padding: 27px;
    margin: 30px;
    cursor: pointer;
    font-family: 'Francois One', sans-serif;
    font-size: 31px;
}
nav ul li:hover{
    color: rgb(93, 19, 19);
}
nav ul li:active{
    background-color: rgb(132, 132, 133);
    box-shadow: 1px 1px black;
    transform: translateY(2px);
    transition: 0.5s;
}
.start{
    color: black;
    background: rgb(226 223 223);
    width: 100%;
    height: 83px;
    box-shadow: 19px 10px 8px #585757;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.bb{
    background: url("bgg.jpg");
    height: 606px;
}
#footer{
    height: 40px;
    background-color: #e2dede;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 495px;
    
    
}.ft1{

    position: sticky;
    bottom: 0;
}
.ft{
    height: 24px;
    background-color: #e2dede;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}
.feet{
    filter: invert(1);
}

